@font-face {
    font-family: "ppns";
    src: url("../public/Fonts/Poppins-ExtraLight.ttf");
}
@font-face {
    font-family: "hdng";
    src: url("../public/Fonts/Harabara\ Mais\ Demo.ttf");
}
@font-face {
    font-family: "logo";
    src: url("../public/Fonts/Seraneo\ DEMO\ VERSION.ttf");
}
@font-face {
    font-family: "hand";
    src: url("../public/Fonts/Mutiara\ Calligraphy\ Font.ttf");
}